.menu-admin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.menu-admin__item {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}


.menu-admin__item:hover {
    color: red;
    font-size: 40px;
    transition: 1s;
}


.menu-admin__item_is-active {
    color: red;
    font-size: 40px;
    transition: 1s;
}